* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Condensed color code and font family code spread throughout into just the body element selector */
body {
    background-color: #d9dcd6;
    color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Reordered code to have element selectors appear just after universal selectors */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Condensed class selectors for cleaner code */
/* Reorganized code to mirror the order in index.html */
/* Sets initial code for content and benefits ids */
#content,
#benefits {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Condensed selectors for cleaner code */
/* Further specifies appearance of content id elements */
.content-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Condensed class selectors for cleaner code */
#content img {
    max-height: 200px;
}

/* Condensed class selectors for cleaner code */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Further specifies appearance of benefits elements */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Condensed selectors for cleaner code */
.benefits-content {
    margin-bottom: 32px;
}

/* Condensed class selectors for cleaner code */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Condensed class selectors for cleaner code */
#benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Condensed class selectors for cleaner code
Added color to text to maintain original design alongside previous code changes */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}